<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title> {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href= "{{ url_for('static', filename='StyleSheet.css') }}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <body>

        <div class = "txtbox1">
          <h2>Good Reviews</h2>
          {% block heading %}

          {% endblock %}
        </div>

        <div class="container">

        <div class = "txtbox2">
          <p>Welcome to Good Reviews where you can find your next book. You can browse
          through thousands of books while reading about what others thought. You can
          even rate and write your own reviews about books you've read. All you have
          to do is log in or create an account if you don't already have one. Enjoy!</p>
          {% block body1 %}

          {% endblock %}
        </div><br>

        {% block body2 %}



        {% endblock %}

    </body>
</html>
