{% extends "layout2.html" %}

{% block title %}
  Welcome to the login page!
{% endblock %}

{% block heading %}

{% endblock %}


{% block body2 %}

  <p1>Please Login to Your Account</p1>

    <form action="{{ url_for('login') }}" method="post">

      <input type="text" placeholder="Username" name="username">
      <input type="password" placeholder="Password" name="password">

      <div class="form-group">
        <button class="btn btn-info">Submit</button>
      </div>

    </form>

<p3>{{ message }}</p3><br>
<a href = 'create'>create account</a>
{% endblock %}
